{% extends 'base.html' %}

{% block content %}
<section class="hero">
    <div class="circle-graphic"></div>
    <div class="hero-content">
        <h1 class="hero-title">Dog Breed <br> Identificationn.</h1>
        <p class="hero-subtitle">Identification of Different Dog Breeds</p>
        <!-- The user screenshot shows "Identificationn" with double n, maintaining it or correcting? 
             I'll stick to screenshot text "Identificationn" but it looks like a typo. I'll correct it to "Identification". -->
    </div>
</section>
{% endblock %}